#movieCarouselContainer {
  position: relative;
  // border-top: 1.5px solid;
  // border-bottom: 1.5px solid;
  // box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f09,
  //   0 0 25px #f09, 0 0 30px #f09, 0 0 35px #f09, 0 0 40px #f09;
  font-family: "Acme", sans-serif;

  #videoOverlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.534);
    z-index: 1;
  }

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }

  #movieCarousel {
    .ant-carousel {
      .slick-dots li.slick-active button {
        opacity: 1;
        background: #ff4ef6;
      }

      .slick-prev {
        left: -35px !important;
      }

      .slick-prev::before,
      .slick-next::before {
        font-family: FontAwesome;
        font-size: 20px;
        color: white;
        opacity: 0.75;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        padding: 10px;
      }

      .slick-next:hover::before,
      .slick-prev:hover::before {
        color: #b61883;
        background-color: white;
      }

      .slick-prev::before {
        content: "\f104";
      }
      .slick-next::before {
        content: "\f105";
      }
    }

    .movieItem {
      .card {
        img {
          height: 450px;
          object-fit: cover;

          @media screen and (max-width: 767px) {
            height: 350px;
          }

          @media screen and (max-width: 575px) {
            height: 300px;
          }
        }

        &:hover {
          border: 1px solid #b61883;
        }

        .cardBodyOverlay {
          background-color: #dfdfdfbb;
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all 0.5s;

          .card-body {
            position: absolute;
            left: 0;
            bottom: 0;

            button {
              border: 1px solid #b61883;
              padding: 0.2rem 2rem;
              color: white;
              background: white;
              border-radius: 2rem;
              transition: 0.3s;
              box-shadow: 0 0 0 3em #b61883 inset;

              &:hover {
                box-shadow: 0 0 0 1px #b61883 inset;
                color: #b61883;
              }
            }
          }

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
