.ghe {
  padding: 5px 10px;
  width: 50px;
  height: 35px;
  margin: 0 5px 5px 0;
  border-radius: 5px;
  font-weight: bold;
  &.gheVip {
    background-color: #ffcf46;
  }
  &.dangDat {
    background-color: #b61883;
    color: white;
  }
  &:hover {
    background-color: #b61883;
    color: white;
  }
  &.daDat {
    background-color: rgb(180, 42, 42);
    color: white;
    cursor: no-drop;
  }
}
