#showTimes {
  .nav-pills {
    .active {
      border: 2px solid #b61883 !important;
      background-color: white;
    }
  }

  #thongTinCumRap {
    h5 {
      background-color: #b61883;
      color: white;
      font-weight: bodler;
      display: inline-block;
      padding: 10px;
      border-radius: 5px;

      @media screen and (max-width: 575px) {
        font-size: 15px;
      }
    }

    p {
      @media screen and (max-width: 575px) {
        font-size: 15px;
      }
    }
  }

  .btnDatVe {
    text-decoration: none;
    border: 1px solid #b61883;
    padding: 0.2rem 2rem;
    background: white;
    color: white;
    border-radius: 2rem;
    transition: 0.3s;
    box-shadow: 0 0 0 3em #b61883 inset;

    &:hover {
      box-shadow: 0 0 0 1px #b61883 inset;

      color: #b61883;
    }
  }

  img {
    @media screen and (max-width: 575px) {
      width: 35px;
      height: 35px;
    }
  }
}
