#profileInfoForm {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../../public/1858113.jpg) center / cover no-repeat;
  #btnUpdateProfile {
    text-decoration: none;
    border: 1px solid #b61883;
    padding: 0.2rem 2rem;
    color: white;
    font-weight: bold;
    border-radius: 2rem;
    transition: 0.3s;
    box-shadow: 0 0 0 3em #b61883 inset;

    &:hover {
      box-shadow: 0 0 0 1px #b61883 inset;

      color: #b61883;
    }
  }
}
