#header {
  // background: url(../../../public/1858113.jpg) bottom/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../../public/1858113.jpg) center / cover no-repeat;
  padding: 0 15rem 0 15rem;
  position: relative;
  font-family: "Vibur", sans-serif !important;

  @media screen and (max-width: 767px) {
    padding: 0 5rem 0 5rem;
  }

  nav {
    justify-content: space-around;
    font-size: 25px;
    .nav-link {
      color: #b61883;
      font-weight: bolder;
      transition: all 0.5s;
      &:hover {
        color: white;
      }
    }

    li {
      button {
        font-size: 20px;
        text-decoration: none;
        border: 1px solid #b61883;
        padding: 0.2rem 2rem;
        background: white;
        color: white;
        font-weight: bold;
        border-radius: 2rem;
        transition: 0.3s;
        box-shadow: 0 0 0 3em #b61883 inset;

        &:hover {
          box-shadow: 0 0 0 1px #b61883 inset;

          color: #b61883;
        }
      }

      @media screen and (max-width: 992px) {
        font-size: 20px;
        margin: 0 10px 0 10px;
      }
    }

    .active {
      color: #fff;
      text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
        0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;

      svg {
        fill: white !important;
        box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #f09,
          0 0 82px #f09, 0 0 92px #f09, 0 0 102px #f09, 0 0 151px #f09;
      }
    }

    #pagesNav {
      ul {
        li {
          margin: 0 20px 0 20px !important;

          @media screen and (max-width: 767px) {
            margin: 0 10px 0 10px;
          }

          svg {
            fill: #b61883;
            border-radius: 50%;
            transition: 0.2s;

            &:hover {
              fill: white;
              animation: spin 4s linear infinite;
            }

            @media screen and (max-width: 767px) {
              width: 60px;
              height: 60px;
            }
          }
        }

        #cinemaList {
          i {
            font-size: 60px;

            @media screen and (max-width: 767px) {
              font-size: 40px;
            }
          }
        }
      }
    }

    .log-out {
      border: none;
      color: black;
      background-color: transparent;
      transition: all 0.5s;
      &:hover {
        color: #b61883;
      }
    }
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
