#cinemaModule {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../../public/1858113.jpg) center repeat;

  .cinemaModuleContent {
    #pills-tab {
      li {
        a {
          color: white;
        }

        .active {
          background: #b61883;
          box-shadow: 0 0 0 3px #fff, 0 0 10px #fff, 0 0 21px #fff,
            0 0 20px #f09, 0 0 25px #f09, 0 0 30px #f09, 0 0 35px #f09,
            0 0 40px #f09;
        }
      }
    }

    #pills-tabContent {
      width: 80%;
      margin: auto;
      button {
        text-decoration: none;
        border: 1px solid #b61883;
        padding: 0.2rem 2rem;
        background: white;
        color: white;
        border-radius: 2rem;
        transition: 0.3s;
        box-shadow: 0 0 0 3em #b61883 inset;

        &:hover {
          box-shadow: 0 0 0 1px #b61883 inset;

          color: #b61883;
        }
      }

      .cinemaDetails {
        border: 1px solid white;
        box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 10px #f09,
          0 0 15px #f09, 0 0 20px #f09, 0 0 25px #f09, 0 0 30px #f09;

        #cinemaAddress {
          @media screen and (max-width: 991px) {
            border-bottom: 1px solid white;
            margin-bottom: 10px;
          }
        }

        #cinemaMovies {
          @media screen and (max-width: 991px) {
            display: flex;
            flex-wrap: wrap;
          }
        }
      }
    }
  }
}
